<%= form_for(@post, { :html => { :class => 'well form-horizontal' } }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
      <div class="form-group">
        <%= f.label :title, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10"><%= f.text_field :title, :class => 'form-control' %></div>
      </div>
      <div class="form-group">
        <%= f.label :date, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10"><%= f.text_field :date, :class => 'form-control', :id => 'datetimepicker' %></div>
      </div>
      <div class="form-group">
        <%= f.label :slug, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10"><%= f.text_field :slug, :class => 'form-control' %></div>
      </div>
      
      <%= link_to "Add Media", media_path, :target => '_blank' %>
      
      <div class="form-group">
        <%= f.label :body, :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10"><%= f.text_area :body, :rows => 30, :class => 'form-control' %></div>
      </div>
      <div class="actions">
        <%= f.submit 'Submit Post', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
