<h1 id="headline" class="hidden-xs"><%= Setting.get("site_headline") %></h1>

<% @posts.each do |post| %>
    <div class="post">
        <div class="post-title"><%= link_to post.title, post %></div>
        <div class="post-date"><%= post.date_short %></div> <div class="post-user">by <%= post.username %></div>
        <div class="post-body"><%= @markdown.render(post.processed_body(true)).html_safe %></div>
        <div class="post-more"><%= link_to "Read More...", post %></div>        
    </div>
<% end %>

