<p id="notice"><%= notice %></p>

<div class="post">

  <div class="post-title"><%= @post.title %></div>
  <div><%= @post.date_short %>  by <%= @post.user.display_name %></div>
  
  <div class="post-body"><%= @markdown.render(@post.processed_body).html_safe %>
  
  <% if user_signed_in? %><%= link_to 'Edit', edit_post_path(@post) %><% end %>
  <%= link_to 'Back', posts_path %>

</div>